package components

templ Dashboard() {
	<html>
		<body>
			<div id="dashboard"></div>
			<div>This is server-side content from templ.</div>
			<!-- Load the React bundle created using esbuild -->
			<script src="static/dashboard/index.js"></script>
		</body>
	</html>
}