package components

templ Profile() {
	<html>
		<body>
			<div id="profile"></div>
			<div>This is server-side content from templ.</div>
			<!-- Load the React bundle created using esbuild -->
			<script src="static/profile/index.js"></script>
		</body>
	</html>
}