package components

templ Settings() {
	<html>
		<body>
			<div id="settings"></div>
			<div>This is server-side content from templ.</div>
			<!-- Load the React bundle created using esbuild -->
			<script src="static/settings/index.js"></script>
		</body>
	</html>
}